.container-2 {
  background-color: white;
  @include flexcolumn;
  .content-2 {
    margin: $marginpage ;
    text-align: center;
    h2 {
      font-size: 40px;
      margin: 30px 0;
    }
    p {
      font-size: 20px;
      margin-bottom: 20px;
    }
    img {
      width: 70%;
      margin: 50px 0;
    }
  }
}
