footer {

  .content-footer {
    margin: 50px 20%;
    .menu-footer{
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      .icon-footer {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        li {
          display: inline-block;
          padding-top: 10px;
        }
      }
      p{
        font-size: 20px;
        padding-bottom: 5px;
      }
      ul {
        li{
          list-style: none;
          a {
            text-decoration: none;
            color: #5c5c5a;
              .fa-instagram-square{
                font-size: 40px;
                color: #e4405f;
              }
              .fa-facebook-square{
                font-size: 40px;
                color: #3b5998;
              }
              .fa-twitter-square{
                font-size: 40px;
                color: #1da1f2;
              }
              .fa-youtube-square{
                font-size: 40px;
                color: #cd201f;
              }
              .fa-pinterest-square{
                font-size: 40px;
                color: #bd081c;
              }
              .fa-rss-square{
                font-size: 40px;
                color: #ff8d00;
              }
          }
        }
      }
    }
  }

  .terms-footer{
    background-color: #1e1e1e;
    height: 65px;
    .menu-footer-2 {
      margin: $marginpage;
      display: flex;
      align-items: center;
      justify-content: space-around;
      ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        li {
          display: inline-block;
          padding-right:  15px;
          color: white;
          a{
            color: #dadbd5;
            text-decoration: none;
            font-size: 14px;
          }
        }
      }
    }
  }
}
