* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

header {
  background-color: #101010;
}

header #nav-icon {
  margin: 0 20%;
}

header #nav-icon ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header #nav-icon ul li {
  margin: 10px;
  list-style: none;
}

header #nav-icon ul li a {
  padding-left: 5px;
  color: #e6e6e6;
  font-size: 13px;
  text-decoration: none;
}

header #nav-icon ul li i {
  font-size: 13px;
  color: #009cff;
}

header #main-nav {
  margin: 0 23%;
}

header #main-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

header #main-nav ul li {
  margin: 10px;
  list-style: none;
  color: white;
}

header #main-nav ul li img {
  width: 80%;
}

header #main-nav ul li a {
  padding-right: 3px;
  font-size: 13px;
  text-decoration: none;
  color: white;
}

header #main-nav ul li i {
  font-size: 13px;
}

.jumbo {
  background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 463px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.jumbo .container {
  margin: 0 20%;
  display: flex;
  justify-content: flex-end;
  height: 90%;
}

.jumbo .container .prod-intro {
  display: flex;
  flex-direction: column;
  color: white;
  width: 500px;
}

.jumbo .container .prod-intro .trial {
  margin-top: 25px;
  width: 45%;
  background: #666;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding: 10px 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.jumbo .container .prod-intro .trial .fa-download {
  font-size: 35px;
}

.jumbo .container .prod-intro h4 {
  font-size: 20px;
  margin: 20px 0;
}

.jumbo .container .prod-intro p {
  font-size: 30px;
  margin-top: 30px;
}

.jumbo .container .prod-intro span {
  margin: 9px 0;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.jumbo .container .prod-intro i {
  font-size: 13px;
  padding-right: 10px;
}

.jumbo .container .container-price {
  background-color: rgba(0, 0, 0, 0.9);
  width: 400px;
  display: flex;
  flex-direction: column;
}

.jumbo .container .container-price .price {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 19px;
}

.jumbo .container .container-price .price #sale {
  color: #fff;
  padding: 10px;
  background-color: #CC397F;
}

.jumbo .container .container-price .price #prew-price {
  padding-top: 30px;
  text-decoration: line-through;
  font-size: 18px;
  color: #acacac;
}

.jumbo .container .container-price .price #new-price {
  font-size: 26px;
  color: #fff;
  margin-bottom: 9px;
}

.jumbo .container .container-price .price #download {
  color: #999;
}

.jumbo .container .container-price .price #buy {
  padding: 10px 30px;
  margin-top: 20px;
  font-size: 15px;
  background: #009cff;
  border: 1px solid #009cff;
  color: #fff;
}

.jumbo .container .container-price .costumer {
  background-color: #e6e6e6;
  width: 90%;
  padding: 12px;
  font-size: 14px;
  margin: 0 auto;
}

.jumbo .container .container-price .costumer #cost {
  font-size: 20px;
  text-transform: uppercase;
}

.jumbo .container .container-price .costumer #save {
  color: #CC397F;
}

.jumbo .container .container-price .costumer #learn {
  font-size: 16px;
  color: #009cff;
  text-decoration: none;
}

.container-1 {
  background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/intro.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  height: 679px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container-1 .content-1 {
  margin: 0 20%;
  text-align: center;
  color: white;
}

.container-1 .content-1 .content-img {
  position: relative;
}

.container-1 .content-1 .content-img .img-content {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0);
  z-index: 2;
  width: 70%;
}

.container-1 .content-1 .content-img .img-content-2 {
  position: absolute;
  left: 50%;
  top: 8px;
  transform: translate(-50%, 0);
  z-index: 1;
  width: 68%;
}

.container-1 .content-1 .align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-1 .content-1 .align img {
  padding-right: 10px;
}

.container-1 .content-1 h2 {
  font-size: 40px;
  margin: 20px 0;
}

.container-1 .content-1 p {
  font-size: 20px;
  margin-bottom: 20px;
}

.container-2 {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container-2 .content-2 {
  margin: 0 20%;
  text-align: center;
}

.container-2 .content-2 h2 {
  font-size: 40px;
  margin: 30px 0;
}

.container-2 .content-2 p {
  font-size: 20px;
  margin-bottom: 20px;
}

.container-2 .content-2 img {
  width: 70%;
  margin: 50px 0;
}

.container-3 {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.container-3 .content-3-1 {
  margin: 0 20%;
  text-align: center;
}

.container-3 .content-3-1 h2 {
  font-size: 40px;
  margin-top: 90px;
}

.container-3 .content-3-1 p {
  font-size: 20px;
  margin: 20px 0;
}

.container-3 .content-3-1 img {
  width: 70%;
  margin: 50px 0;
}

.container-3 .content-3-2 {
  display: flex;
  margin: 0 20%;
  align-items: center;
  justify-content: flex-start;
}

.container-3 .content-3-2 .text-content-3-2 {
  padding-right: 40px;
}

.container-3 .content-3-2 .text-content-3-2 h2 {
  font-size: 40px;
  margin-top: 90px;
}

.container-3 .content-3-2 .text-content-3-2 p {
  font-size: 20px;
  margin: 20px 0;
}

.container-3 .content-3-2 img {
  width: 150%;
  margin: 50px 0;
}

.container-3 .content-3-3 {
  display: flex;
  margin: 0 20%;
  align-items: center;
  justify-content: flex-start;
}

.container-3 .content-3-3 .text-content-3-3 h2 {
  font-size: 40px;
  margin-top: 90px;
}

.container-3 .content-3-3 .text-content-3-3 p {
  font-size: 20px;
  margin: 20px 0;
}

.container-3 .content-3-3 img {
  width: 150%;
  margin: 50px 0;
  padding-right: 260px;
}

.container-4 {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container-4 .content-4 {
  margin: 0 20%;
  text-align: center;
}

.container-4 .content-4 h2 {
  font-size: 40px;
  margin: 30px 0;
}

.container-4 .content-4 p {
  font-size: 20px;
  margin-bottom: 20px;
}

.container-4 .content-4 .img-effect {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-4 .content-4 .img-effect img {
  width: 20%;
  margin: 50px 10px;
}

.container-5 {
  background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/brushpacks-bg.jpg");
  background-position: top center;
  height: 500px;
}

.container-5 .content-5-5 {
  display: flex;
  align-items: center;
  margin: 0 20%;
  justify-content: space-around;
  height: 500px;
}

.container-5 .content-5-5 .content-5 {
  text-align: center;
  background-color: white;
  width: 500px;
  height: 250px;
}

.container-5 .content-5-5 .content-5 h2 {
  font-size: 30px;
  padding: 20px 0;
}

.container-5 .content-5-5 .content-5 p {
  font-size: 20px;
  padding: 0 20px;
}

.container-5 .content-5-5 .content-5 p span {
  color: #009cff;
}

footer .content-footer {
  margin: 50px 20%;
}

footer .content-footer .menu-footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

footer .content-footer .menu-footer .icon-footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

footer .content-footer .menu-footer .icon-footer li {
  display: inline-block;
  padding-top: 10px;
}

footer .content-footer .menu-footer .icon-footer li i {
  font-size: 20px;
}

footer .content-footer .menu-footer p {
  font-size: 20px;
  padding-bottom: 5px;
}

footer .content-footer .menu-footer ul li {
  list-style: none;
}

footer .content-footer .menu-footer ul li a {
  text-decoration: none;
  color: #5c5c5a;
}

#content-nav {
  background-color: #e6e6e6;
}

#content-nav ul {
  margin: 0 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
}

#content-nav ul li {
  margin: 30px;
  list-style: none;
}

#content-nav ul li a {
  font-size: 18px;
  color: black;
  text-decoration: none;
}

