* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

header {
  background-color: #101010;
}

header #nav-icon {
  margin: 0 20%;
}

header #nav-icon ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header #nav-icon ul li {
  margin: 10px;
  list-style: none;
}

header #nav-icon ul li a {
  padding-left: 5px;
  color: #e6e6e6;
  font-size: 13px;
  text-decoration: none;
}

header #nav-icon ul li i {
  font-size: 13px;
  color: #009cff;
}

header #main-nav {
  margin: 0 23%;
}

header #main-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

header #main-nav ul li {
  margin: 10px;
  list-style: none;
  color: white;
}

header #main-nav ul li img {
  width: 80%;
}

header #main-nav ul li a {
  padding-right: 5px;
  font-size: 15px;
  text-decoration: none;
  color: white;
}

header #main-nav ul li i {
  font-size: 13px;
}

.jumbo {
  background-image: url("https://images10.newegg.com/BizIntell/item/32/352/32-352-114/c0_hero%20image_Painter%20Essentials%207.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 463px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.jumbo .container {
  margin: 0 20%;
  display: flex;
  justify-content: flex-end;
  height: 90%;
}

.jumbo .container .prod-intro {
  display: flex;
  flex-direction: column;
  color: white;
  width: 500px;
}

.jumbo .container .prod-intro h4 {
  font-size: 20px;
  margin: 20px 0;
}

.jumbo .container .prod-intro p {
  font-size: 30px;
  margin-top: 30px;
}

.jumbo .container .prod-intro span {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.jumbo .container .prod-intro i {
  font-size: 8px;
  padding-right: 10px;
}

.jumbo .container .price {
  background-color: rgba(0, 0, 0, 0.8);
  width: 400px;
}

