*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}
@import "partials/_variables.scss";
@import "partials/_commons.scss";
@import "partials/_header.scss";
@import "partials/_jumbo.scss";
@import "partials/_container1.scss";
@import "partials/_container2.scss";
@import "partials/_container3.scss";
@import "partials/_container4.scss";
@import "partials/_container5.scss";
@import "partials/_footer.scss";

#content-nav {
  background-color: #e6e6e6;
  ul {
    margin: $marginpage;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    li {
      margin:30px;
      list-style: none;
      a{
        font-size: 18px;
        color: black;
        text-decoration: none;
      }
    }
  }
}
