*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}
@import "partials/_variables.scss";
@import "partials/_commons.scss";
@import "partials/_header.scss";
@import "partials/_jumbo.scss";
